main{
    text-align: center;
    margin-top: 10px;
}
main h1,h2{
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;

}

main img{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(211, 126, 126, 0.5);
}
main p{
    font-size: 18px;
    color: #e46060;
    font-weight: 800;
}
