.product-details .main-product-img {
  max-width: 90%;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #b58b4d;
}

.rating {
  color: gold;
  font-size: 16px;
}

.qty-box {
  width: 70px;
  padding: 10px;
  border: 1px solid #ddd;
}

.add-to-cart-btn {
  background: #c9a063;
  border: none;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
  border-radius: 30px;
}

.desc {
  color: #777;
}

.thumb-img {
  width: 80px;
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
}
