header {
    background-color: #118bef;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}